
<ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
<ion-toolbar color="tertiary">
  
  <ion-title >
   {{group.name}}
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-tabs padding>
<!-- Tab bar -->
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="mambers">
    <ion-icon name="contact"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="expences">
     <i  class="fa fa-rupee"></i>
  </ion-tab-button>

</ion-tab-bar>
</ion-tabs>