<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="start">
        Profile
      </ion-title>
    <ion-icon (click)="cropper=!cropper" name="create" slot="end" padding></ion-icon>
            
    </ion-toolbar>
    
  </ion-header>
 
 

<ion-content *ngIf="user">
  
    <div *ngIf=" cropper">  <ion-avatar *ngIf="!croppedImage" class="avatar"  >
        <label for="file"> 
            <i class="ion-images"></i>
            <input type="file" formControlname="profiePic" id="file" style="display: none" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" (change)="changeListener($event)" data-original-title="upload photos">
                <ion-icon class="ion-iconUpload" name="camera" padding></ion-icon>
          </label>

      </ion-avatar>
        <ion-item>
           
                <ion-button ion-button color="danger" slot="start" (click)="reset()">Reset</ion-button>
             
           
                <ion-button ion-button icon-only slot="end" color="danger" (click)="clear()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
                <ion-button ion-button icon-only slot="start" color="secondary" (click)="save()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
             
        </ion-item>
        <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="myImage" *ngIf="myImage"></angular-cropper>
    
      <ion-row *ngIf="myImage">
        <ion-col col-3>
          <ion-button size="small"  color="primary" (click)="zoom(true)">
              <ion-icon name="add-circle-outline"></ion-icon> 
          </ion-button>
        </ion-col>
        
        <ion-col col-3>
          <ion-button size="small"  color="primary" (click)="zoom(false)">
              <ion-icon name="remove-circle-outline"></ion-icon> 
          </ion-button>
        </ion-col>
        <ion-col col-3>
          <ion-button size="small"  (click)="rotate()">
              <ion-icon name="refresh"></ion-icon> 
          </ion-button>
        </ion-col>
        <ion-col col-3>
            <ion-button clear size="small" (click)="scaleY()">
              Flip
            </ion-button>
          </ion-col> 
      </ion-row>
      <ion-row *ngIf="myImage">
         <!-- <ion-col col-2>
          <ion-button clear (click)="scaleX()">
            Flip X
          </ion-button>
        </ion-col> -->
       
    
        <ion-col col-2>
          <ion-button size="small" clear icon-only (click)="move(0, -10)">
            <ion-icon name="arrow-round-up"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col col-2>
          <ion-button size="small" clear icon-only (click)="move(0, 10)">
            <ion-icon name="arrow-round-down"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col col-2>
          <ion-button size="small" clear icon-only (click)="move(-10, 0)">
            <ion-icon name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col col-2>
          <ion-button size="small" clear icon-only (click)="move(10, 0)">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    
      <!-- <ion-card *ngIf="croppedImage">
        <ion-card-header>My Result</ion-card-header>
        <ion-card-content>
          <img [src]="croppedImage">
        </ion-card-content>
      </ion-card> -->
    
      </div >
    <div class="bg" [style.background-image]="'url(' + url + ')'" style="image-orientation: 180deg;">
      </div>
    
      <div class="main-cnt"  >
        <ion-avatar class="dp"  >
            <!-- <img-loader [src]='url' (load)="onImageLoad($event)" ></img-loader> -->
            <ion-img id="prop" class="" [src]='url'   ></ion-img>
           
        </ion-avatar>
  
      
     
        <ion-card-header>
            <ion-card-title style="font-size:30px" class="ion-text-center">{{user.name}}</ion-card-title>
            <!-- <ion-card-title style="font-size:30px" class="ion-text-center">{{url}} '''ffffffffffff'''''</ion-card-title> -->
         
        </ion-card-header>
        
        
        
            <ion-item >
                <ion-icon slot="start" color="primary" name="contact"></ion-icon> 
                <ion-label slot="start">Name</ion-label>
                <ion-label > &nbsp; &nbsp; &nbsp; {{user.name}}</ion-label>

              </ion-item>
              <ion-item >
                  <ion-icon slot="start" color="primary" name="mail"></ion-icon>
                  <ion-label   text-wrap  >Email &nbsp; &nbsp; &nbsp; {{user.email}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" color="primary" name="people"></ion-icon>
                    <ion-label >Groups &nbsp; &nbsp; &nbsp;<span *ngFor="let group of user.groups">{{group.name}} &nbsp;</span> </ion-label>
      
                </ion-item>
              <ion-item *ngIf="time.length>0">
                <label >Expense &nbsp; from &nbsp;{{time[0] |date }} &nbsp; To &nbsp;</label>
                <label >{{time[time.length-1] | date}}</label>
      
              </ion-item>
              <ion-item style="font-size:30px" class="ion-text-center">
               <ion-label> &#8377;{{expense.share}}</ion-label> 
              </ion-item>




   
        
      
         
      
    </div>
</ion-content>
