.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.avatar{
  margin: auto;
}
ion-icon{
font-size: 30px;

}
.ion-iconUpload{
border: 1px solid black;
height: 50px;
width: 50px;

  font-size: 30px;
 // box-shadow: -6px 15px 81px 3px rgba(0,0,0,0.75);
  border-radius: 50%;
  
} 